body{
    background-color: rgb(224, 212, 212);
}
.main{
    text-align:center;
}
.calculator{
    display: inline-block;
    border: 2px solid black;
    padding: 20px 20px;
    background-color: rgb(241, 248, 241);
    border-radius: 8px;
}
table{
    margin: auto;
}
input{
    margin-top: 3px;
   font-size: 33px;
    height: 120px;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 5px;
    
}
button{
    font-size: 25px;
    background-color: darkgray;
    border-radius: 4px;
    width: 100px;
    height: 60px;
    margin: 5px 1px;
}
button:hover{
    background-color: rgb(228, 225, 225);
}

